/*
DAT Theme
by Anthony Lupow
anthony.lupow@gmail.com
*/

/* @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic); */

.info-container-parallax {
    display: none;
}

* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Roboto Condensed", sans-serif; /* DEFAULT FONT */
    font-weight: 400;

    min-width: 1000px;
}

body>* {
    width: 100%;
}

.gradient-image-wrapper {

}

div[block-id] {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*

LOGO

*/

.logo {
    position: relative;
    display: block;

    /*width: 500px;*/
    width: 100%;
    height: 400px;

    /*background-image: url(../images/logo.png);*/
    background-image: url(../images/logo.svg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo.color {
    background-image: url(../images/logo_color.png);
}

/*

NEW HEADER

*/

.bg-slider:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(14, 142, 171, 0.72) 100%);
}

div.h-title {
    left: 50%;
}

.header-right {
    left: 0;
    top: 0;

    width: 100% !important;
}

.logo:not(.color) {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.25));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.25));
    -moz-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.25));
}


/*header .line-left, header .line-right {
    position: absolute;

    top: 0;

    height: 100%;
    width: 1px;

    background-color: white;
}*/

header .lines-wrapper {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 60%;
    height: 35%;

    -webkit-transform: translateX(-50%) translateY(-50%) skewX(-25deg);
    -moz-transform: translateX(-50%) translateY(-50%) skewX(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) skewX(-25deg);
    -o-transform: translateX(-50%) translateY(-50%) skewX(-25deg);
    transform: translateX(-50%) translateY(-50%) skewX(-25deg);

    z-index: 5;

    min-width: 850px;

    border-left: 1px solid white;
    border-right: 1px solid white;

    -webkit-animation: linesShowUp 1500ms ease-out;
    -o-animation: linesShowUp 1500ms ease-out;
    animation: linesShowUp 1500ms ease-out;
}

/*
header .line-left {
    left: 0;
}

header .line-right {
    right: 0;
}
*/

header .bottom-corners {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;

    z-index: 10;
}


/*

CONCRETE5 DIALOG FIX
!NOT NECESSARY PART!

*/

.ui-dialog {
    max-width: 80vw;
    max-height: 80vh;

    top: 50% !important;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);

    overflow-y: scroll;
}

/*

FILLER CLASS

*/

.filler {
    background-image: url(../images/bg_filler.png);
}

.filler-bg {
    /*background-color: rgb(50, 188, 210);*/
    background-color: rgb(42, 194, 218);
}

.line-title {
    color: white;
    padding: 20pt 10pt 10pt 10pt;

    text-align: left;
    text-transform: uppercase;

    border-bottom: 2px solid white;

    display: inline-block;
    position: relative;
}

.line-underline {
    display: block;
    position: relative;

    float: left;

    width: 100%;
    height: 2px;

    background-color: white;
    opacity: 0.2;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*

LINKS

*/

a {
    color: inherit;
}

/*

SCROLL-TO-TOP

*/

#scroll-to-top-z {
    display: block;
    position: fixed;

    cursor: pointer;

    width: 50pt;
    height: 50pt;
    right: 50pt;
    bottom: 50pt;

    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;

    z-index: 500;

    background-image: url(../images/to-top.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position-y: 0;

    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;

    opacity: 0;
    pointer-events: none;
}

#scroll-to-top-z:hover {
    background-position-y: 100%;
}

#scroll-to-top-z.triggered {
    opacity: 1;
    pointer-events: all;
}

/*

CONTENT WRAPPER

*/

.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/*

COLUMNS

*/

.column-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.column-wrapper:after {
    content: '';
    clear: both;
}

.column-2 {
    display: block;

    width: 50%;
    float: left;
    min-height: 1px;
}

.column-wrapper .center-vertical {
    /*vertical-align: middle;*/
    align-self: center;
}

/*

HEADER

*/

/*header .header-offers {
    position: absolute;

    right: 0;
    top: 0;

    width: calc(50% + (250px / 2));
    height: 100%;

}*/

header .header-offers {
    width: 50% !important;
}

header .header-offers>* {
    height: 100%;
}

header .header-offers .content-wrapper {
    display: table;
    position: relative;

    padding: 20pt;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    max-width: 50%;

    background-color: rgb(255, 255, 255);
    color: rgb(60, 65, 65);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
}

header.mainHeader {
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(50, 188, 210);

    overflow: hidden;
}

.h-title {
    display: table;
    position: relative;
    
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    left: 23%;
    
    color: white;
    z-index: 10;

    width: 600px;
}

.h-title p {
    margin-top: 0;
    margin-bottom: -15pt;
}

.h-title p:not(:first-child) {
    font-size: 45pt;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -2pt;
}

.h-title p:nth-child(1) {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5pt;
    font-weight: 100;
}

.h-title p:nth-child(2) {
    margin-left: 20pt;
}

.h-title p:nth-child(4) {
    margin-left: 10pt;
}

.button-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainHeader .header-bg {
    position: absolute;
    right: 5%;
    top: 0;
    width: auto;
    height: 100%;
}

.mainHeader .header-bg img {
    height: 100%;
    width: auto;
}

.mainHeader .gradient-image-wrapper.header-bg:after {
    content: ' ';

    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.mainHeader, .mainHeader .gradient-image-wrapper.header-bg:after {
    background: linear-gradient(#33bcd2, #33bcd2);
}

/*

HEADER SLIDER

*/

.mainHeader .bg-slider {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 0;

    overflow: hidden;
}

/*.bg-slider img.slide {
    width: auto;
    height: 100%;
    background-position: 100% 50%;

    -webkit-background-size: contain;
    background-size: contain;

    background-repeat: no-repeat;

    position: absolute;
    right: 0;
    z-index: -1;
}*/

.bg-slider .triangle {
    position: relative;
    left: 0;
    top: 0;

    /*width: calc(50% + 125px);*/
    width: 60%;
    height: 100%;
    /*border-top: 500px solid #33bcd2;
    border-right: 250px solid transparent;*/

    z-index: 2;

    -webkit-transform: translateX(-15%) skewX(-25deg);
    -moz-transform: translateX(-15%) skewX(-25deg);
    -ms-transform: translateX(-15%) skewX(-25deg);
    -o-transform: translateX(-15%) skewX(-25deg);
    transform: translateX(-15%) skewX(-25deg);

    background-color: #33bcd2;
    overflow: hidden;
}

.bg-slider .filler {
    width: 110%;
    height: 100%;
    -webkit-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    -o-transform: skewX(25deg);
    transform: skewX(25deg);
}

.bg-slider .triangle.white {
    position: absolute;

    border-top: 500px solid transparent;
    border-left: 500px solid white;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

/*

SLIDER

*/

.slider-container {
    /*overflow: hidden;*/
}

.slider-container.slider-dynamic {
    /*display: block;
    height: auto;
    width: 100%;*/

}

/*.slider-wrapper.slider-header {*/
.header-right {
    /*width: calc(50% + (250px / 2)) !important;*/
    height: 100%;
    position: absolute !important;

    right: 0 !important;
    top: 0 !important;
}

.slider-wrapper.slider-header {
    z-index: -1;
}

.slider-wrapper.slider-header img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.slide {
    /*width: 100%;
    height: 100%;*/

    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.slider-header .slide {
    height: 100%;
    width: 100%;
}

.slide-opacity .slide {
    position: absolute;
    left: 0;
    top: 0;
}

.slider-wrapper {
    /*height: 100%;*/
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-container:not(.slider-dynamic) .slider-wrapper {
    height: 100%;
}

.slide.shown {
    z-index: 10;
}


/* SLIDER LINE */

.slide-line {
    display: block;
    position: relative;

    margin: 0 auto;

    max-width: 900px;
    /*height: 450px;*/
}

.slider-container:not(.slider-dynamic) .slider-wrapper, .slider-container:not(.slider-dynamic) .slide {
    height: inherit;
}

.slider-container.slider-dynamic .slide {
    display: table;
}

.slider-container.slider-dynamic {
    -webkit-transition: height 250ms ease-out;
    -moz-transition: height 250ms ease-out;
    -ms-transition: height 250ms ease-out;
    -o-transition: height 250ms ease-out;
    transition: height 250ms ease-out;
}

.slide-line .slider-wrapper {
    display: flex;
    /*height: inherit;*/

    left: 0;

    -webkit-transition: all 650ms cubic-bezier(0.26, 0.26, 0.06, 0.99);
    -moz-transition: all 650ms cubic-bezier(0.26, 0.26, 0.06, 0.99);
    -ms-transition: all 650ms cubic-bezier(0.26, 0.26, 0.06, 0.99);
    -o-transition: all 650ms cubic-bezier(0.26, 0.26, 0.06, 0.99);
    transition: all 650ms cubic-bezier(0.26, 0.26, 0.06, 0.99);
}

.slide-line .slider-wrapper .slide {
    /*height: inherit;*/
    display: table;
    width: auto;

    flex-shrink: 0;

    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.slide-line .slide:not(.shown):not(.focused) {
    opacity: 0;
    pointer-events: none;
}

.slide-line .slide.shown {
    opacity: 1;
}

.slide-line .slide.focused:not(.shown) {
    opacity: 1;
}

/*

SLIDER-BUTTONS

*/

.slider-buttons {
    display: table;
    position: absolute;

    right: 25%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: 100;

    cursor: default;
}

.slider-buttons .button-circle {
    display: inline-block;
    border-radius: 50%;

    width: 10px;
    height: 10px;

    background-color: rgb(255,255,255);
    opacity: .7;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);

    cursor: pointer;

    transition: all 200ms ease-out;
}

.slider-buttons .button-circle.active {
    opacity: 1;
}

/* ARROW BUTTONS */

.slider-buttons.arrow-left, .slider-buttons.arrow-right {
    display: block;
    position: absolute;

    width: 60px;
    height: 100%;

    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    /*background-color: rgba(0,0,0,.25);*/
}

.slider-buttons.arrow-left {
    left: 0;
    top: 50%;

    background-image: url(../images/arrow-left.png);

    -webkit-transform: translateX(-100%) translateY(-50%);
    -moz-transform: translateX(-100%) translateY(-50%);
    -ms-transform: translateX(-100%) translateY(-50%);
    -o-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
}

.slider-buttons.arrow-right {
    right: 0;
    top: 50%;

    background-image: url(../images/arrow-right.png);

    -webkit-transform: translateX(100%) translateY(-50%);
    -moz-transform: translateX(100%) translateY(-50%);
    -ms-transform: translateX(100%) translateY(-50%);
    -o-transform: translateX(100%) translateY(-50%);
    transform: translateX(100%) translateY(-50%);
}

/*

FOOTER

*/

footer {
    padding: 20pt;
    font-weight: 200;
    font-size: 10pt;

    /*background-image: url(../images/bg_filler.png);*/
}

footer p {
    margin: 0;
}

.footer-wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.footer-wrapper>* {
    display: inline-block;
}

.footer-wrapper .footer-info {
    margin-right: 20pt;
}

footer .footer-wrapper>*:last-child {
    float: right;
}

.footer-copyright {
    text-align: right;
}

/*

MENU

*/

#menu {
    display: block;
    position: fixed;
    left: 50%;
    top: 0;

    height: 60px;
    width: 100%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: 9999;

    color: white;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    font-size: 15pt;

    max-width: 1000px;
}

.m-button {
    display: inline-block;
    position: relative;

    height: 100%;
    text-transform: uppercase;

    padding-bottom: 3px;
    margin-left: 10pt;

    border-bottom: solid 0px white;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.m-button:not(:last-child) {
    margin-right: 15pt;
}

.m-button.active {
    padding-bottom: 0px;
    border-bottom: solid 3px white;
}

.m-buttons-container {
    text-align: right;
    padding-right: 40px;;
}

.m-button p {
    margin: 0;
    position: relative;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    text-shadow: 0px 1px 2px rgba(0,0,0,.3);
}